/*
Light blue: #0c88f2
Medium blue: #0c6fe4
Dark blue: #263b56
*/

/* TODO
    check how grid works
    shall I try to use same effect without images?
    think about a mobile view
    have min-width on side bar
    use transform: translate(-50%, -50%) (x, y)

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border-box: it accounts for any border and padding in the values specified for width and height*/
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #95a8b7;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    display: flex;
    height: 93vh;
    overflow: auto;
    min-height: 600px;
    /* Not sure if this the best solution*/
}

.footer {
    background-image: url(../img/bg\ nav.png);
    flex-grow: 1;
    min-height: 60px;
}

.sidebar {
    background-image: url(../img/bg\ sidebar.png);
    min-width: 250px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.picture-box {
    margin-bottom: 30px;
    transform: translate(0%, 20%);
}

.description-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0%, 10%);
}

.description-box h2 {
    text-transform: uppercase;
    color: #5a7489;
}

.about-box {
    font-size: 0.8em;
    margin-top: 50px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.role {
    font-size: 1.3em;
    letter-spacing: 0.03em;
}

.content {
    flex-grow: 1;
    background-image: url(../img/main-bg.png);
    background-size: cover;
}

.social-media-container {
    display: flex;
}

.social-media-icon {
    width: 21px;
    height: 22px;
    background-repeat: no-repeat;
    margin: 12px 4px 4px 4px;
}

.facebook {
    background-image: url('../img/Facebook.png');
}

.dribble {
    background-image: url('../img/Dribble.png');
}

.behance {
    background-image: url('../img/Behance.png');
}

.instagram {
    background-image: url('../img/Insta.png');
}