/*
Light blue: #0c88f2
Medium blue: #0c6fe4
Dark blue: #263b56
*/

/* TODO
    check how grid works
    shall I use flex?
    shall I try to use same effect without images?
    think about a mobile view
    have min-width on side bar

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border-box: it accounts for any border and padding in the values specified for width and height*/
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #5a7489;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    display: flex;
    height: 93vh;
}

.footer {
    background-image: url(../img/bg\ nav.png);
    flex-grow: 1;
    min-height: 60px;
}

.sidebar {
    background-image: url(../img/bg\ sidebar.png);
    background-size: cover;
    min-width: 250px;
}

.content {
    flex-grow: 1;
    background-image: url(../img/main-bg.png);
    background-size: cover;
}